@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

/*Foro Padres*/
.card_foro {
  display: flex;
  flex-direction: column;
  background-color: #EEC5DD;
  width: 100px;
  height: 150px;
  padding: 20px 0;
  border-radius: 18px;
  box-shadow: -0.5px 4px 5px 1px rgba(78, 78, 78, 0.5);
}
.card_foro h3 {
  color: white;
  font-size: 11px;
  padding: 0 10px;
}
.card_foro h4, .card_foro p {
  color: #28325A;
  font-size: 7px;
  font-weight: 600;
  padding: 5px 10px;
}
.card_foro .gradient-image {
  width: 50%;
  position: relative;
  align-self: center;
}
.card_foro .gradient-image::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #EEC5DD);
}
.card_foro .gradient-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 576px) {
  .card_foro {
    width: 150px;
    height: 200px;
  }
  .card_foro h3 {
    font-size: 14px;
  }
  .card_foro h4, .card_foro p {
    font-size: 10px;
  }
}
@media (min-width: 768px) {
  .card_foro {
    width: 200px;
    height: 250px;
  }
  .card_foro h3 {
    font-size: 18px;
    padding: 0 15px;
  }
  .card_foro h4, .card_foro p {
    font-size: 13px;
    padding: 5px 15px;
  }
}
@media (min-width: 992px) {
  .card_foro {
    width: 250px;
    height: 300px;
  }
  .card_foro h3 {
    font-size: 20px;
    padding: 0 22px;
  }
  .card_foro h4, .card_foro p {
    font-size: 16px;
    padding: 5px 22px;
  }
}

#item-1,
#item-2,
#item-3 {
  display: none;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  position: relative;
  height: 200px;
}
@media (min-width: 576px) {
  .cards {
    height: 300px;
  }
}
@media (min-width: 768px) {
  .cards {
    height: 400px;
  }
}
.cards .card {
  position: absolute;
  width: 100px;
  top: 10%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform 0.4s ease;
  cursor: pointer;
}
@media (min-width: 576px) {
  .cards .card {
    width: 150px;
  }
}
@media (min-width: 768px) {
  .cards .card {
    width: 200px;
  }
}
@media (min-width: 992px) {
  .cards .card {
    width: 250px;
  }
}

#item-1:checked ~ .cards #card-3, #item-2:checked ~ .cards #card-1, #item-3:checked ~ .cards #card-2 {
  transform: translatex(-50%) scale(0.8);
  opacity: 1;
  z-index: 1;
}

#item-1:checked ~ .cards #card-2, #item-2:checked ~ .cards #card-3, #item-3:checked ~ .cards #card-1 {
  transform: translatex(50%) scale(0.8);
  opacity: 1;
  z-index: 1;
}

#item-1:checked ~ .cards #card-1, #item-2:checked ~ .cards #card-2, #item-3:checked ~ .cards #card-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 2;
}

#bienvenida,
#nosotros,
#encontrar_en_cuipea,
#foro,
#info,
#header,
#footer {
  padding: 0 15px;
}

#foro {
  background-color: #DEABCA;
}
#foro h2 {
  font-size: 24px;
  color: #28325A;
  padding: 15px 0;
}
@media (min-width: 768px) {
  #foro h2 {
    font-size: 30px;
  }
}

* {
  font-family: "Plus Jakarta Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

/*# sourceMappingURL=styles.css.map */

/*FOOTER*/
footer {
  background-color: #28325A;
  color: white;
}
footer .footer-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
}
@media (min-width: 768px) {
  footer .footer-content {
    flex-direction: row;
    justify-content: space-between;
    text-align: start;
  }
}
footer .section-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
@media (min-width: 768px) {
  footer .section-social .footer-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
footer .section-social .footer-logo img {
  max-width: auto;
}
footer .section-social .social-icons {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}
footer .section-social .social-icons a img {
  width: 30px;
  height: 30px;
}
footer .section-nosotras, footer .section-links {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  footer .section-nosotras, footer .section-links {
    margin-bottom: 0;
  }
}
footer .section-nosotras h4, footer .section-links h4 {
  font-size: 16px;
  margin-bottom: 10px;
}
footer .section-nosotras .lista-links, footer .section-links .lista-links {
  list-style: none;
  padding: 0;
}
footer .section-nosotras .lista-links li, footer .section-links .lista-links li {
  margin-bottom: 5px;
}
footer .section-nosotras .lista-links li a, footer .section-links .lista-links li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}
footer .section-nosotras .lista-links li a:hover, footer .section-links .lista-links li a:hover {
  text-decoration: underline;
}
footer .contact-bar {
  background-color: #EEC5DD;
  padding: 5px;
  text-align: center;
}
footer .contact-bar span {
  color: #28325A;
}
footer .contact-bar span a {
  color: #1a2a4f;
  text-decoration: underline;
}
footer .footer-bottom {
  text-align: center;
  font-size: 12px;
}
footer .footer-bottom p {
  margin: 5px;
  padding: 10px 0 10px;
}
footer .footer-bottom p a {
  color: white;
  text-decoration: underline;
}