<main class="nino-sano">
    <section class="bg-pink mt-4">
        <h1 class="h3 fw-bold ps-3 py-3">Control niño sano</h1>
        <img src="/assets/icons/icon_historia_clinica_pink.svg" alt="icon">
    </section>
    <section class="my-4 bg-form-nino-sano p-4">
        <h2 class="h5 fw-bold">Rellena con los datos del último control</h2>
        <form>
            <div class="mb-2">
                <label for="" class="fw-bold">Fecha</label>
                <div>
                    <input type="date" class="input-nino-sano px-2">
                </div>
            </div>
            <div class="mb-2">
                <label for="" class="fw-bold">Edad</label>
                <div>
                    <input type="text" class="input-nino-sano">
                    <select name="" id="" class="input-nino-sano px-2 ms-3">
                        <option value="edad" disabled selected>Edad</option>
                        <option value="mes">Mes</option>
                    </select>
                </div>
            </div>
            <div class="mb-2">
                <label for="" class="fw-bold">Peso</label>
                <div>
                    <input type="text" class="input-nino-sano">
                    <select name="" id="" class="input-nino-sano px-2 ms-3">
                        <option value="kg">Kg</option>
                        <option value="gm">Gm</option>
                    </select>
                </div>
            </div>
            <div class="mb-2">
                <label for="" class="fw-bold">Talla</label>
                <div>
                    <input type="text" class="input-nino-sano">
                </div>
            </div>
            <div class="mb-2">
                <label for="" class="fw-bold">PC</label>
                <div>
                    <input type="text" class="input-nino-sano">
                </div>
            </div>
            <div class="mb-2">
                <label for="" class="fw-bold">PA</label>
                <div>
                    <input type="text" class="input-nino-sano">
                </div>
            </div>
            <div class="mb-2">
                <label for="" class="fw-bold">Observaciones</label>
                <div>
                    <textarea type="text" class="input-nino-sano w-75"></textarea>
                </div>
            </div>
            <div id="btn-agregar-control" class="submit-nino-sano d-flex justify-content-end">
                <button class="btn-agregar btn-agregar-pink" type="submit">
                    <img src="/assets/img/general/plus_img.svg" alt="agregar">Añadir control
                </button>
            </div>
        </form>
    </section>
</main>