<main class="nino-sano">
    <section class="bg-pink mt-4">
        <h1 class="h3 fw-bold ps-3 py-3">Control niño sano</h1>
        <img src="/assets/icons/icon_historia_clinica_pink.svg" alt="icon">
    </section>
    <section  class="p-2 mt-4">
        <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col" class="table-main-color p-2 fw-bold first-item">Edad</th>
                <th scope="col" class="table-main-color p-2 fw-bold">Fecha</th>
                <th scope="col" class="table-main-color p-2 fw-bold">Peso</th>
                <th scope="col" class="table-main-color p-2 fw-bold">Talla</th>
                <th scope="col" class="table-main-color p-2 fw-bold">PC</th>
                <th scope="col" class="table-main-color p-2 fw-bold last-item">TA</th>
              </tr>
            </thead>
            <tbody id="rows-control"></tbody>
          </table>
        <div class="d-flex justify-content-end btn-nino-sano mb-2"></div>
    </section>
</main>