<main class="donar-container">
    <div class="imagen-donar">
        <img class="donar-img" src="assets/img/general/donacion-img.svg" alt="donaciones">
      </div>

    <section class="text-left my-2 mx-4">
        <h1 class="h3 fw-bolder mb-4 mt-4">Donaciones</h1>
        <h2 class="h5 fw-bold mb-4">Colaborá con Iniciativas de Hospitales y Causas Benéficas</h2>
        <p>Tu contribución a través de CUIPEA ayuda a centralizar y distribuir fondos a <span class="fw-bold">causas benéficas enfocadas en la salud infantil y hospitales.</span><br>
        Gracias por tu generosidad y por hacer una diferencia en la vida de los más chicos.</p>
        <h4 class="h5 fw-bold mt-4 ">Seleccioná tu tipo de donación</h4>
    </section>
    <section class="btn-donaciones mt-4 justify-content-center my-2 mx-4">
        <div class="donacion1 d-flex flex-grid col-6 mb-3 gap-3">
           <a href="https://link.mercadopago.com.ar/cuipea" target="_blank" class="btn btn-donacion1 fw-medium">Donar <span class="fw-bold">$1.000</span></a>
           <a href="https://link.mercadopago.com.ar/cuipea" target="_blank" class="btn btn-donacion2 fw-medium">Donar <span class="fw-bold">$2.000</span></a>
        </div>
        <div class="donacion2 d-flex flex-grid col-6 mb-3 gap-3">
           <a href="https://link.mercadopago.com.ar/cuipea" target="_blank" class="btn btn-donacion3 fw-medium">Donar <span class="fw-bold">$3.000</span></a>
           <a href="https://link.mercadopago.com.ar/cuipea" target="_blank" class="btn btn-donacion4 fw-medium">Donar <span class="fw-bold">$4.000</span></a>
        </div>
        <div class="donacion3 d-flex flex-grid col-6 mb-3 gap-3">
            <a href="https://link.mercadopago.com.ar/cuipea" target="_blank" class="btn btn-donacion5 fw-medium">Donar <span class="fw-bold">$5.000</span></a>
            <a href="https://link.mercadopago.com.ar/cuipea" target="_blank" class="btn btn-donacion6 fw-medium">Donar <span class="fw-bold">$6.000</span></a>
         </div>
         <p class="mt5 mb-4 text-center fw-bold">Tu compromiso marca la diferencia. <br>
            Gracias por ser parte de esta misión.</p>
    </section>
</main>