<main id="editaPerfil">
    <div class="header-perfil"></div>
    <div class="mx-4">
        <!-- <h3 class="h4 fw-semibold mb-3">Tu perfil</h3> -->
        <form id="editarPerfilForm">
            <section class="d-flex flex-wrap column-gap-5 row-gap-4">
                <div class="d-flex flex-column">
                    <label for="" class="fw-semibold">Nombre/s</label>
                    <input type="text" placeholder="" class="input-editar-datos">
                </div>
                <div class="d-flex flex-column">
                    <label for="" class="fw-semibold">Apellido/s</label>
                    <input type="text" placeholder="" class="input-editar-datos">
                </div>  
                <div class="d-flex flex-column">
                    <label for="" class="fw-semibold">Número de DNI</label>
                    <input type="text" placeholder="" class="input-editar-datos">
                </div>  
                <div class="d-flex flex-column">
                    <label for="" class="fw-semibold">Sexo</label>
                    <select name="" id="" class="input-editar-datos">
                        <option selected value="Femenino">Femenino</option>
                        <option value="Masculino"></option>
                        <option value="Otro"></option>
                    </select>
                </div>  
                <div class="d-flex flex-column">
                    <label for="" class="fw-semibold">Fecha de nacimiento</label>
                    <input type="date" placeholder="" class="input-editar-datos">
                </div>  
              </section>
              <section class="d-flex justify-content-center my-5 column-gap-3">
                <button class="btn-datos-white px-3 py-1 rounded-3 text-uppercase">Eliminar cuenta</button>
                <button class="btn-datos-blue text-white px-3 py-1 rounded-3 text-uppercase">Editar mis datos</button>
              </section>
        </form>
    </div>
</main>