<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components</title>
    <link rel="stylesheet" href="../../css/styles.css">
</head>
<body>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        h1, p {
            margin: 10px;
        }
        #guardia-boxes,
        #consultas-boxes,
        #btn-consulta {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 10px;        
            margin: 20px;
       }
    </style>
    <h1>Components guide</h1> 
    <p>En principio necesitamos dos archivos, primero el template donde estará nuestro código html reutilizable que en este caso es <strong>box.hbs</strong>, y nuestro código javascript que en este caso es <strong>exampleTemplates.js</strong>.</p>
    <p>Y obvio nuestro html principal, en este caso es exampleTemplates.html, <strong>pero ustedes crearán el html según la página</strong>, ya sea guardia.html, consulta.html, etc.</p>
    <p> Ustedes utilizarán siempre <strong>el mismo template, el box.hbs</strong>, lo único que generarían por su cuenta es el js, que cambia según la página por estilos y contenido.</p>
    <p>Acá les muestro cómo lo harían, echen un vistazo al JS.</p>

    <div id="guardia-boxes"></div>

    <p>¿Y si lo quiero de otros colores? ¿Incluso, que no sea para guardia, sino para consultas?</p>
    <p>Como verán en el JS, <strong>la lógica es la misma.</strong></p>

    <div id="consultas-boxes"></div>

    <p>Ahora falta otro componente, pero <strong>se renderizaría una vez</strong>, ¿cómo haríamos? Esta vez utilizaremos el template <strong>buttonAgregar.hbs</strong>, que también ustedes utilizarán.</p>
    <strong>Todos los hbs (templates) están para que ustedes lo utilicen.</strong>
    <p>Echen un vistazo al JS.</p>

    <div id="btn-consulta"></div>

    <p>Y eso sería todo, ¡ustedes pueden!</p>

    <!-- ! Es importante importar el script donde añadiremos nuestro template -->
    <script type="module" src="../../src/exampleTemplates.js"></script>
</body>
</html>