<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos Clínicos</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <main>
        <div class="header-data-clinic">
            <h1>Datos Clínicos</h1>
            <img src="/public/assets/icons/icon_historia_clinica.svg" alt="">
        </div>
        <div id="dropdowns-container"></div>
        <div id="btn-complete-data">
          <a class="btn" href="formDataClinic.html">COMPLETAR DATOS CLÍNICOS</a>
      </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@4.7.7/dist/handlebars.min.js"></script>
    <script type="module" src="../src/clinicData.js"></script>
</body>
</html>