
  <main>
  <div class="imagen-encabezado">
    <img class="foto-encabezado" src="../assets/img/general/informacion.svg" alt="encabezado">
  </div>
  <h2 class="subtitle info mt-5">Información</h2>

  <h3 class="info h5 my-3">Encontra las ultimas noticias para acompañarte en el crecimiento</h3>
  <p class="p ps-3">Tené siempre a mano y en un solo lugar la información que necesitás para acompañar el crecimiento de tus hijos.</p>
  <p class="p mt-2 ps-3">Encontra noticias sobre alimentación, prevención, desarrollo, cuidados, hábitos, y mucho más.</p>

   <section class="carousel 1">
  <div class="fondito1 ms-3">
    <h4 class="info pt-1 pe-1 h6 text-uppercase">Etapas de Desarrollo</h4>
  </div>
  <div id="carousel-desarrollo" class="carousel slide w-75 mx-auto my-4">

    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="#"><img src="../assets/img/info-carrusel/ver-mas.svg" class="d-block w-100" alt="extraer leche"></a>  
      </div>
      <div class="carousel-item">
        <a href="#"><img src="../assets/img/info-carrusel/leche-materna.svg" class="d-block w-100" alt="dengue"></a>
      </div>
      <div class="carousel-item">
        <a href="#"><img src="../assets/img/info-carrusel/salud-bucal.svg" class="d-block w-100" alt="salud bucal"></a>
      </div>
      <div class="carousel-item">
        <a href="#"><img src="../assets/img/info-carrusel/primer-mes.svg" class="d-block w-100" alt="primer mes de vida"></a>
      </div>
      <div class="carousel-item">
        <a href="#"><img src="../assets/img/info-carrusel/ver-mas.svg" class="d-block w-100" alt="ver más"></a>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel-desarrollo" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"><img src="../assets/vectores/VectorPrev-Azul.svg" alt="prev" style="width: 1em;"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel-desarrollo" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"><img src="../assets/vectores/VectorNext-Azul.svg" alt="next" style="width: 1em;"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  </section>
  
  <section class="carousel 2">
    <div class="fondito2 ms-3">
      <h4 class="info pt-1 pe-1 h6 text-uppercase">Prevención de Enfermedades   </h4>
    </div>
    <div id="carousel-enfermedades" class="carousel slide w-75 mx-auto my-4">
  
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a href="#"><img src="../assets/img/info-carrusel/ver-mas.svg" class="d-block w-100" alt="extraer leche"></a>
        </div>
        <div class="carousel-item">
          <a href="#"><img src="../assets/img/info-carrusel/leche-materna.svg" class="d-block w-100" alt="dengue"></a>
        </div>
        <div class="carousel-item">
          <a href="#"><img src="../assets/img/info-carrusel/salud-bucal.svg" class="d-block w-100" alt="salud bucal"></a>
        </div>
        <div class="carousel-item">
          <a href="#"><img src="../assets/img/info-carrusel/primer-mes.svg" class="d-block w-100" alt="primer mes de vida"></a>
        </div>
        <div class="carousel-item">
          <a href="#"><img src="../assets/img/info-carrusel/ver-mas.svg" class="d-block w-100" alt="ver más"></a>
        </div>
    
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel-enfermedades" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"><img src="../assets/vectores/VectorPrevAmarillo.svg" alt="prev" style="width: 1em;"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel-enfermedades" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"><img src="../assets/vectores/VectorNextAmarillo.svg" alt="next" style="width: 1em;"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    </section>

    <section class="carousel 3">
      <div class="fondito3 ms-3">
        <h4 class="info pt-1 pe-1 h6 text-uppercase">Cuidados y Buenos Hábitos   </h4>
      </div>
      <div id="carousel-cuidados" class="carousel slide w-75 mx-auto my-4">
    
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a href="#"><img src="../assets/img/info-carrusel/ver-mas.svg" class="d-block w-100" alt="extraer leche"></a>
          </div>
          <div class="carousel-item">
            <a href="#"><img src="../assets/img/info-carrusel/leche-materna.svg" class="d-block w-100" alt="dengue"></a>
          </div>
          <div class="carousel-item">
            <a href="#"><img src="../assets/img/info-carrusel/salud-bucal.svg" class="d-block w-100" alt="salud bucal"></a>
          </div>
          <div class="carousel-item">
            <a href="#"><img src="../assets/img/info-carrusel/primer-mes.svg" class="d-block w-100" alt="primer mes de vida"></a>
          </div>
          <div class="carousel-item">
            <a href="#"><img src="../assets/img/info-carrusel/ver-mas.svg" class="d-block w-100" alt="ver más"></a>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-cuidados" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"><img src="../assets/vectores/VectorPrevRosa.svg" alt="prev" style="width: 1em;"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel-cuidados" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"><img src="../assets/vectores/VectorNextRosa.svg" alt="next" style="width: 1em;"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      </section>
  
</main>
