<!-- Lactancia -->
<main>
    <div class="lact-img">
     <img class="imag-lact" src="../assets/img/general/lactancia-img.svg" alt="Lactancia">
    </div>
      <section class="p-3">
        <h1 class="h2 fw-bold">Lactancia</h1>
        <p class="mt-4 pb-3">Es conveniente el inicio de la lactancia en forma inmediata al nacimiento, ya que esto estimula la producción de leche y al vínculo.</p>
        <ul>
            <li class="pb-3">Amamantar dentro de la primera hora de vida fomenta el vínculo y ayuda a establecer la lactancia.</li>
            <li class="pb-3">La producción de leche no depende del tamaño de los pechos, sino de la frecuencia en que se da el pecho, sin limitar el horario de las tomas. Se aconseja darle teta sin horarios ni duración de cada toma, tanto de día como por lo menos, una vez a la noche.</li>
            <li class="pb-3">La lactancia exclusiva se recomienda firmemente hasta los 6 meses. La persona recién nacida no necesita agua, otros líquidos ni alimentos durante este periodo.</li>
            <li class="pb-3">Una buena posición y prendida ayuda a la persona recién nacida a obtener más leche y previene la formación de grietas del pezón.</li>
            <li class="pb-3">Para aumentar la produccion de leche es conveniente ofrecer (o extraer de) ambas tetas con mayor frecuencia, variando las posiciones y puesta al pecho.</li>
            <li class="pb-3">Luego del parto, la leche es amarillenta y pegajosa. Más liquida al principio, para calmar la sed y mas espesa al final, con mas calorías</li>
        </ul>
        <div class="lact-msg text-center">
            <h2 class="fs-5 fst-italic fw-bolder mt-4 mb-4">Una medida de higiene fundamental y sencilla es lavarse las manos con agua y jabón antes de alimentar a la persona recién nacida.</h2>
          </div>
          <ul>
            <li class="pb-3 pt-2">Las mamas se lavarán durante el baño diario. </li>
            <li class="pb-3">Trabajar no debe ser un obstáculo para amamantar. En muchos lugares ya tienen espacios para ello. (Ley Nacional N° 26873/13). </li>
            <li class="pb-3">No incorporar el chupete hasta que aprenda a mamar</li>
            <li class="pb-3">Si estás recibiendo medicación, consultá al equipo médico. </li>
            <li class="pb-3">Consultar con el grupo de apoyo local. </li>
            <li class="pb-3">La persona recién nacida debe estar y dormir en un ambiente libre de humo. Dormir sola, boca arriba, en una cuna o moisés y compartir la habitación. </li>
          </ul>
          <div class="lactancia1 mt-4 text-center">
            <button class="btn-lactancia fw-bold">
              <a href="/pasos-lactancia" class="no-hover-color">Consultá acá sobre los Pasos para <br> almacenar la leche materna</a></button>
          </div>
        </section>
    </main>