<main id="alegria">
    <div class="mb-3">
        <img src="../assets/img/general/logo_alegria 1.svg" alt="" class="w-100">
    </div>
    <div class="mx-3 my-4">
        <h2 class="fw-bold mb-3">Somos Alegría</h2>
        <p>Un equipo de mujeres <span class="fw-semibold">comprometidas</span> con el desarrollo de <span class="fw-semibold">proyectos innovadores</span> que buscan un impacto real en la sociedad, creando <span class="fw-semibold">CUIPEA</span>: la app web que busca optimizar y cubrir integralmente las necesidades actuales en el <span class="fw-semibold">sistema de salud</span> y <span class="fw-semibold">cuidados pediátricos</span> a través de una Libreta Sanitaria Digital.</p>
    </div>
    <div class="mx-3 my-4">
        <h2 class="fw-bold mb-4">Nosotras</h2>
        <div class="d-flex flex-wrap gap-2 justify-content-center">
            <div class="d-flex align-items-center flex-column mb-4 box-equipo">
                <img src="../assets/img/equipo/mariasol.png" alt="" style="width: 170px;">
                <h3 class="h4 fw-bold text-center mt-2">María Sol López</h3>
                <p class="text-center pb-2">Desarroladora web</p>
                <a class="d-flex justify-content-center align-items-center btn-linkedin rounded-3 px-2" href="https://www.linkedin.com/in/mariasol-lopez/" target="_blank">
                    <img src="../assets/icons/linkedin-brands-solid.svg" alt="" style="width: 15px;" class="rounded-1">
                    <p class="text-center ps-1">LinkedIn</p>
                </a>
            </div>
            <div class="d-flex align-items-center flex-column mb-4 box-equipo">
                <img src="../assets/img/equipo/yael.png" alt="" style="width: 170px;">
                <h3 class="h4 fw-bold text-center mt-2">Yael Correa</h3>
                <p class="text-center pb-2">Desarrolladora Front End | Tech Lead</p>
                <a class="d-flex justify-content-center align-items-center btn-linkedin rounded-3 px-2" href="https://www.linkedin.com/in/yael-correa/" target="_blank">
                    <img src="../assets/icons/linkedin-brands-solid.svg" alt="" style="width: 15px;" class="rounded-1">
                    <p class="text-center ps-1">LinkedIn</p>
                </a>
            </div> 
            <div class="d-flex align-items-center flex-column mb-4 box-equipo">
                <img src="../assets/img/equipo/araceli.png" alt="" style="width: 170px;">
                <h3 class="h4 fw-bold text-center mt-2">Araceli Pimentel</h3>
                <p class="text-center pb-2">Diseñadora Gráfica | Community Manager</p>
                <a class="d-flex justify-content-center align-items-center btn-linkedin rounded-3 px-2" href="https://www.linkedin.com/in/araceli-pimentel/" target="_blank">
                    <img src="../assets/icons/linkedin-brands-solid.svg" alt="" style="width: 15px;" class="rounded-1">
                    <p class="text-center ps-1">LinkedIn</p>
                </a>
            </div> 
            <div class="d-flex align-items-center flex-column mb-4 box-equipo">
                <img src="../assets/img/equipo/sol.png" alt="" style="width: 170px;">
                <h3 class="h4 fw-bold text-center mt-2">Marina Sol Bunter</h3>
                <p class="text-center pb-2">Data Analyst | Desarrolladora</p>
                <a class="d-flex justify-content-center align-items-center btn-linkedin rounded-3 px-2" href="https://www.linkedin.com/in/sol-bunter/" target="_blank">
                    <img src="../assets/icons/linkedin-brands-solid.svg" alt="" style="width: 15px;" class="rounded-1">
                    <p class="text-center ps-1">LinkedIn</p>
                </a>
            </div> 
            <div class="d-flex align-items-center flex-column mb-4 box-equipo">
                <img src="../assets/img/equipo/fabi.png" alt="" style="width: 170px;">
                <h3 class="h4 fw-bold text-center mt-2">Fabiana Grisel Castro</h3>
                <p class="text-center pb-2">Desarrolladora Full Stack</p>
                <a class="d-flex justify-content-center align-items-center btn-linkedin rounded-3 px-2" href="https://www.linkedin.com/in/fg-castro/" target="_blank">
                    <img src="../assets/icons/linkedin-brands-solid.svg" alt="" style="width: 15px;" class="rounded-1">
                    <p class="text-center ps-1">LinkedIn</p>
                </a>
            </div> 
            <div class="d-flex align-items-center flex-column mb-4 box-equipo">
                <img src="../assets/img/equipo/otra_carla.png" alt="" style="width: 170px;">
                <h3 class="h4 fw-bold text-center mt-2">Carla Andrea Urueña</h3>
                <p class="text-center pb-2">Desarrolladora Front End</p>
                <a class="d-flex justify-content-center align-items-center btn-linkedin rounded-3 px-2" href="https://www.linkedin.com/in/carla-uruena/" target="_blank">
                    <img src="../assets/icons/linkedin-brands-solid.svg" alt="" style="width: 15px;" class="rounded-1">
                    <p class="text-center ps-1">LinkedIn</p>
                </a>
            </div>
        </div>
    </div>
</main>