<main id="perfil">
    <h2 class="ps-4 fw-bold text-white py-4 h3 mb-4">Mi perfil</h2>
    <div class="px-4">
        <h3 class="h4 fw-semibold mb-3">Tu perfil</h3>
        <button onclick="window.location.href = '/editar-datos'" class="d-flex fw-bold ps-3 pt-3 pb-2 mb-5 h4 btn-editar-datos w-100">Editar mis datos</button>
        <h3 class="h4 fw-semibold my-3">Tus perfiles</h3>
        <div id="perfiles-container" class="mb-4"></div>
        <button id="cerrar-sesion" class="btn-agregar-blue rounded mt-5 my-4">Cerrar sesión</button>
    </div>
</main>