<main class="d-flex justify-content-center mb-5">
    <div class="mx-5 my-3 green-container">
        <h2 class="h5 fw-bold mb-2">Datos del infante</h2>
        <form>
            <label for="name" class="fw-semibold">Nombre/s</label>
            <input type="text" class="d-block mb-4 py-2 px-1" id="name">
            <label for="surname" class="fw-semibold">Apellido/s</label>
            <input type="text" class="d-block mb-4 py-2 px-1" id="surname">
            <label for="dni" class="fw-semibold">Número de DNI</label>
            <input type="number" name="dni" id="dni" class="d-block mb-4 py-2 px-1">
            <label for="genre" class="fw-semibold">Sexo</label>
            <select name="genre" id="genre" class="d-block mb-4 py-2 px-1">
                <option value="Femenino">Femenino</option>
                <option value="Masculino">Masculino</option>
                <option value="Otro">Otro</option>
            </select>
            <label for="birthday" class="fw-semibold">Fecha de nacimiento</label>
            <input type="date" name="birthday" id="birthday" class="d-block mb-4 py-2 px-1">
            <div class="d-flex flex-column align-items-center gap-3 mt-5">
                <button class="p-2 btn-sesion-oscuro w-100">Registrarme</button>
            </div>
        </form>
    </div>
</main>