<main class="d-flex justify-content-center mb-5">
    <div class="mx-5 my-3 green-container">
        <h2 class="h5 fw-bold mb-2">Regístrate</h2>
        <p>Al continuar, aceptas nuestro Acuerdo del usuario y confirmas que has entendido la Política de privacidad.</p>
        <h3 class="h5 fw-bold mt-5 mb-4">Datos de la madre, padre o tutor</h3>
        <form>
            <label for="name" class="fw-semibold">Nombre/s</label>
            <input type="text" class="d-block mb-4 py-2 px-1" id="name">
            <label for="surname" class="fw-semibold">Apellido/s</label>
            <input type="text" class="d-block mb-4 py-2 px-1" id="surname">
            <label for="dni" class="fw-semibold">Número de DNI</label>
            <input type="number" name="dni" id="dni" class="d-block mb-4 py-2 px-1">
            <label for="genre" class="fw-semibold">Sexo</label>
            <select name="genre" id="genre" class="d-block mb-4 py-2 px-1">
                <option value="Femenino">Femenino</option>
                <option value="Masculino">Masculino</option>
                <option value="Otro">Otro</option>
            </select>
            <label for="birthday" class="fw-semibold">Fecha de nacimiento</label>
            <input type="date" name="birthday" id="birthday" class="d-block mb-4 py-2 px-1">
            <label for="email" class="fw-semibold">E-mail</label>
            <input type="email" name="email" id="email" class="d-block mb-4 py-2 px-1">
            <label for="tel" class="fw-semibold">Teléfono</label>
            <input type="tel" name="tel" id="tel" class="d-block mb-4 py-2 px-1">
            <div class="d-flex flex-column align-items-center gap-3 mt-5">
                <button class="p-2 btn-sesion-oscuro">Siguiente</button>
                <button class="p-2 btn-sesion-claro">Volver</button>
            </div>
        </form>
    </div>
</main>