<main id="turnos">
    <section class="bg-pink mt-4">
        <h1 class="h3 fw-bold ps-3 py-3">Mis turnos</h1>
        <img src="../assets/icons/icon_turnos.svg" alt="icon">
    </section>
    <section class="lg-pink-bg px-3 my-3 pt-3">
        <h2 class="h4 fw-bold mb-4">Próximo turno:</h2>
        <div class="d-flex justify-content-between pb-2">
            <div>
                <div class="position-relative calendar">
                    <img src="../assets/icons/calendar-icon.svg" alt="" class="w-100">
                    <p class="position-absolute fw-bold h3">29</p>
                    <p class="fw-bold text-center mt-2 text-uppercase">Viernes</p>
                    <p class="fw-bold text-center mt-1">Noviembre 2024</p>
                </div>
            </div>
            <div class="detalles-turno rounded-3">
                <h3 class="h6 text-uppercase fw-bold py-2 px-3 rounded-top-3">Detalles del turno</h3>
                <p class="px-3"><span class="fw-semibold">Hora:</span> 19:15 hs</p>
                <p class="px-3"><span class="fw-semibold">Fecha:</span> 29/08/2024</p>
                <p class="px-3"><span class="fw-semibold">Hospital:</span> Garrahan</p>
                <p class="px-3"><span class="fw-semibold">Especialidad:</span> Pediatra</p>
            </div>
        </div>
    </section>
    <section>
        <h2 class="h4 fw-bold mb-4 ms-3 mt-3">Próximos turnos</h2>
        <div class="d-flex flex-wrap gap-4 justify-content-center mb-5">
            <div class="position-relative">
                <img src="../assets/icons/paper.svg" alt="" class="paper-img">
                <div class="recordatorios-detalles position-absolute">
                    <h3 class="h6 text-uppercase fw-bold  rounded-top-3">Detalles del turno</h3>
                    <p class=""><span class="fw-semibold">Hora:</span> 19:15 hs</p>
                    <p class=""><span class="fw-semibold">Fecha:</span> 29/08/2024</p>
                    <p class=""><span class="fw-semibold">Hospital:</span> Garrahan</p>
                    <p class=""><span class="fw-semibold">Especialidad:</span> Pediatra</p>
                </div>
            </div>
            <div class="position-relative">
                <img src="../assets/icons/paper.svg" alt="" class="paper-img">
                <div class="recordatorios-detalles position-absolute">
                    <h3 class="h6 text-uppercase fw-bold  rounded-top-3">Detalles del turno</h3>
                    <p class=""><span class="fw-semibold">Hora:</span> 19:15 hs</p>
                    <p class=""><span class="fw-semibold">Fecha:</span> 29/08/2024</p>
                    <p class=""><span class="fw-semibold">Hospital:</span> Garrahan</p>
                    <p class=""><span class="fw-semibold">Especialidad:</span> Pediatra</p>
                </div>
            </div>
            <div class="position-relative">
                <img src="../assets/icons/paper.svg" alt="" class="paper-img">
                <div class="recordatorios-detalles position-absolute">
                    <h3 class="h6 text-uppercase fw-bold  rounded-top-3">Detalles del turno</h3>
                    <p class=""><span class="fw-semibold">Hora:</span> 19:15 hs</p>
                    <p class=""><span class="fw-semibold">Fecha:</span> 29/08/2024</p>
                    <p class=""><span class="fw-semibold">Hospital:</span> Garrahan</p>
                    <p class=""><span class="fw-semibold">Especialidad:</span> Pediatra</p>
                </div>
            </div>
            <div class="position-relative">
                <img src="../assets/icons/paper.svg" alt="" class="paper-img">
                <div class="recordatorios-detalles position-absolute">
                    <h3 class="h6 text-uppercase fw-bold  rounded-top-3">Detalles del turno</h3>
                    <p class=""><span class="fw-semibold">Hora:</span> 19:15 hs</p>
                    <p class=""><span class="fw-semibold">Fecha:</span> 29/08/2024</p>
                    <p class=""><span class="fw-semibold">Hospital:</span> Garrahan</p>
                    <p class=""><span class="fw-semibold">Especialidad:</span> Pediatra</p>
                </div>
            </div>
        </div>
        <div class="mb-4 d-flex justify-content-end me-3">
            <button class="btn-agregar btn-agregar-pink" onclick="window.location.href= '/agregar-turno'">
                <img src="/assets/img/general/plus_img.svg" alt="agregar">Añadir turno
            </button>
        </div>
    </section>
</main>