 <!-- El box es nuestro componente reutilizable -->
<div class="box-container">
        <h4>{{title}}</h4>
        <p>{{date}}</p>
        <button class="btn-edit"><img src="/assets/img/general/plus_img.svg" alt="agregar"></button>
</div>