<tr>
    <th scope="row" class="p-2 py-3 fw-semibold table-pink">{{vacuna}}</th>
    <td class="p-2 py-3 fw-semibold table-pink">{{dosisVacuna}}</td>
    <td class="p-2 py-3 fw-semibold table-pink">{{edadVacuna}}</td>
    <td class="p-2 py-3 fw-semibold table-pink">{{dateVacuna}}</td>
</tr>