<tr>
    <th scope="row" class="p-2 py-3 fw-semibold table-pink">{{vacuna}}</th>
    <td class="p-2 py-3 fw-semibold table-pink">{{dosis}}</td>
    <td class="p-2 py-3 fw-semibold table-pink">{{edad}}</td>
    <td class="p-2 py-3 fw-semibold table-pink">{{fecha}}</td>
</tr>