@import '../base/colors';

.consulta-guardias{
    .bg-green {
        background-color: $green-color;
        position: relative;
        img {
            position: absolute;
            top: -30px;
            right: 30px;
        }
    }
}
textarea{
    border: 2px solid $green-color;
    border-radius: 4px;
    width: 100%;
}

.input-guardia, .input-guardia2{
    border: 2px solid $green-color;
    border-radius: 4px;
    width: 100%;
}