@import '../base/colors';

.consulta-estudios{
    .bg-blue{
        background-color: $blue-color;
        position: relative;
        img {
            position: absolute;
            top: -30px;
            right: 30px;
        }
    }
    .bg-grey {
        background-color: #F4F4F4;
    }
}

input[type="text"], input[type="date"], .input-consulta {
    border: 2px solid $blue-color;
    border-radius: 4px;
    width: 100%;
}

    .bg-grey {
        background-color: #F4F4F4;
    }
    form {
        .input-consulta {
            border: 2px solid $blue-color;
            border-radius: 4px;
        }
        .input-consulta:focus {
             border: 2px solid $blue-color;
             outline: none;
        }
    }
