@import '../base/colors';

.lact-msg{
    color: #419BAA;
}

.btn-lactancia {
    background-color: #28325A;
    color: #fff;
    border-radius: 12px;
    border: none;
    padding: 10px 20px;
}

.lact-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.imag-lact{
    width: 100%;
}
