/* ---------------------------------------------------------------------------------------------------------------*/
//Nav

@import '../base/colors';

$colors: (
  $salmon-color,
  $violet-blue-color,
  $blue-color,
  $pink-dark-color,
  $yellow-color
);

.navbar-nav {
  // Asignar colores a los nav-links de los elementos principales
  @for $i from 1 through length($colors) {
    li:nth-child(#{$i}) > .nav-link:hover {
      text-decoration: underline;
      text-decoration-thickness: 3px; // grosor del subrayado
      text-decoration-color: nth($colors, $i); // Color según el índice
    }
  }

  // Estilo general para los nav-links
  .nav-link {
    font-weight: bold;
    color: $main-color !important;
    position: relative;
    &:hover {
      text-decoration: underline;
      text-decoration-thickness: 3px; // grosor del subrayado
    }
  }
  

  // Colores específicos para el dropdown si es necesario
  .dropdown-item {
    &:hover {
      text-decoration: underline;
      text-decoration-thickness: 3px;
      text-decoration-color: #cccccc; // color genérico para todos
    }
  }
  
}

#btn-menu {
  outline: none !important; // Elimina el borde de foco
  box-shadow: none !important; // Elimina la sombra del foco

  &:focus, &:active {
    outline: none !important; // Elimina cualquier contorno al hacer focus o click
    box-shadow: none !important; // Elimina la sombra al hacer click
  }
}